btmls-main/n8n_workflows/1_campaign_sync.json
{
    "name": "1. Campaign Sync",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "campaign-sync",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "webhookId": "campaign-sync-webhook"
        },
        {
            "parameters": {
                "url": "=https://graph.facebook.com/v19.0/act_{{ $json.body.brand_id }}/campaigns",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "fields",
                            "value": "id,name,status,objective,created_time"
                        },
                        {
                            "name": "limit",
                            "value": "100"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get-campaigns-1",
            "name": "Get Campaigns",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                220,
                0
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "JHC7dBCtkd3bICFX",
                    "name": "BmtlsUser Token"
                }
            }
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "id": "split-campaigns-1",
            "name": "Split Campaigns",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "loop-campaigns-1",
            "name": "Loop Campaigns",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                660,
                0
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO facebook_campaigns (id, brand_id, name, status, date_launched, created_at)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $('Webhook').item.json.body.brand_id }}',\n  '{{ $json.name.replace(/'/g, \"''\") }}',\n  '{{ $json.status }}',\n  '{{ $json.created_time }}',\n  NOW()\n)\nON CONFLICT (id) DO NOTHING",
                "options": {}
            },
            "id": "save-campaign-1",
            "name": "Save Campaign",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                880,
                100
            ],
            "credentials": {
                "postgres": {
                    "id": "uDaI4cpRDpgAs2Eg",
                    "name": "NEW POSTGREE"
                }
            }
        },
        {
            "parameters": {
                "url": "=https://n8n.btmls.com/webhook/ad-set-sync",
                "method": "POST",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"campaign_id\": \"{{ $json.id }}\",\n  \"brand_id\": \"{{ $('Webhook').item.json.body.brand_id }}\"\n}",
                "options": {}
            },
            "id": "trigger-adset-sync-1",
            "name": "Trigger Ad Set Sync",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1100,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"brand_id\": \"{{ $('Webhook').item.json.body.brand_id }}\",\n  \"campaigns_synced\": {{ $('Save Campaign').all().length }}\n}",
                "options": {}
            },
            "id": "respond-1",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                880,
                -100
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Get Campaigns",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Campaigns": {
            "main": [
                [
                    {
                        "node": "Split Campaigns",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Campaigns": {
            "main": [
                [
                    {
                        "node": "Loop Campaigns",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Campaigns": {
            "main": [
                [
                    {
                        "node": "Save Campaign",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Campaign": {
            "main": [
                [
                    {
                        "node": "Trigger Ad Set Sync",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Trigger Ad Set Sync": {
            "main": [
                [
                    {
                        "node": "Loop Campaigns",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {}
}