btmls-main/n8n_workflows/3_comment_export.json
{
    "name": "Comment Export with Analysis",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "comment-export",
                "responseMode": "responseNode"
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                500
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "split-assets",
            "name": "Split Asset IDs",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                460,
                500
            ]
        },
        {
            "parameters": {
                "url": "=https://graph.facebook.com/v19.0/{{ $json }}/comments",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "facebookGraphApi",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "fields",
                            "value": "id,message,created_time,from"
                        },
                        {
                            "name": "since",
                            "value": "={{ $('Webhook').item.json.body.date_range.start }}"
                        },
                        {
                            "name": "until",
                            "value": "={{ $('Webhook').item.json.body.date_range.end }}"
                        },
                        {
                            "name": "limit",
                            "value": "100"
                        }
                    ]
                }
            },
            "id": "get-comments",
            "name": "Get Comments from Facebook",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                500
            ],
            "credentials": {
                "facebookGraphApi": {
                    "id": "YOUR_FACEBOOK_CREDENTIAL_ID",
                    "name": "Facebook Graph API"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.message }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "filter-empty",
            "name": "Filter Empty Comments",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                900,
                500
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "messages": {
                    "values": [
                        {
                            "content": "=Analyze this Facebook ad comment and extract:\n1. Sentiment: Positive, Negative, or Neutral\n2. Theme: Brief 2-3 word topic description\n\nComment: \"{{ $json.message }}\"\n\nReturn ONLY valid JSON in this exact format:\n{\n  \"sentiment\": \"Positive|Negative|Neutral\",\n  \"theme\": \"brief topic\"\n}"
                        }
                    ]
                },
                "options": {
                    "temperature": 0.3
                }
            },
            "id": "analyze-comment",
            "name": "Analyze with OpenAI",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.3,
            "position": [
                1120,
                500
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const analysis = JSON.parse($input.item.json.choices[0].message.content);\n\nreturn {\n  comment_id: $('Filter Empty Comments').item.json.id,\n  message: $('Filter Empty Comments').item.json.message,\n  sentiment: analysis.sentiment,\n  theme: analysis.theme,\n  created_time: $('Filter Empty Comments').item.json.created_time,\n  ad_id: $('Split Asset IDs').item.json\n};"
            },
            "id": "parse-response",
            "name": "Parse AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1340,
                500
            ]
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData"
            },
            "id": "aggregate",
            "name": "Aggregate All Comments",
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                1560,
                500
            ]
        },
        {
            "parameters": {
                "jsCode": "const comments = $input.all();\n\nconst csvRows = ['Comment ID,Message,Sentiment,Theme,Created Time,Ad ID'];\n\nfor (const item of comments) {\n  const row = [\n    item.json.comment_id,\n    `\"${(item.json.message || '').replace(/\"/g, '\"\"')}\"`,\n    item.json.sentiment,\n    item.json.theme,\n    item.json.created_time,\n    item.json.ad_id\n  ].join(',');\n  \n  csvRows.push(row);\n}\n\nconst csv = csvRows.join('\\n');\n\nreturn {\n  csv: csv,\n  filename: `export_${$('Webhook').item.json.body.job_id}.csv`,\n  total_comments: comments.length\n};"
            },
            "id": "generate-csv",
            "name": "Generate CSV",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1780,
                500
            ]
        },
        {
            "parameters": {
                "url": "=https://fepnumgfqtsjlaykssyt.supabase.co/storage/v1/object/export-files/{{ $json.filename }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyContentType": "raw",
                "rawBody": "={{ $json.csv }}",
                "options": {
                    "headers": {
                        "values": [
                            {
                                "name": "Content-Type",
                                "value": "text/csv"
                            },
                            {
                                "name": "apikey",
                                "value": "={{ $credentials.supabaseServiceKey }}"
                            }
                        ]
                    }
                }
            },
            "id": "upload-csv",
            "name": "Upload CSV to Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2000,
                500
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase Service Key"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE export_jobs\nSET \n  status = 'complete',\n  csv_url = 'https://fepnumgfqtsjlaykssyt.supabase.co/storage/v1/object/public/export-files/{{ $('Generate CSV').item.json.filename }}',\n  assets_exported = ARRAY[{{ $('Webhook').item.json.body.asset_ids.map(id => `'${id}'`).join(',') }}]\nWHERE id = '{{ $('Webhook').item.json.body.job_id }}'"
            },
            "id": "update-job",
            "name": "Update Export Job",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                2220,
                500
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_POSTGRES_CREDENTIAL_ID",
                    "name": "Supabase Postgres"
                }
            }
        },
        {
            "parameters": {
                "fromEmail": "noreply@yourdomain.com",
                "toEmail": "={{ $('Webhook').item.json.body.user_email }}",
                "subject": "Your Comment Export is Ready",
                "emailType": "html",
                "html": "=<h2>Your Export is Complete!</h2>\n\n<p>Your comment export has finished processing.</p>\n\n<p><a href=\"{{ $('Update Export Job').item.json.csv_url }}\" style=\"background: #0066cc; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; display: inline-block;\">Download CSV</a></p>\n\n<h3>Export Details:</h3>\n<ul>\n  <li><strong>Export Range:</strong> {{ $('Webhook').item.json.body.export_range }}</li>\n  <li><strong>Total Comments:</strong> {{ $('Generate CSV').item.json.total_comments }}</li>\n  <li><strong>Assets Exported:</strong> {{ $('Webhook').item.json.body.asset_ids.length }}</li>\n</ul>\n\n<p style=\"color: #666; font-size: 12px;\">This export will be available for 30 days.</p>"
            },
            "id": "send-email",
            "name": "Send Success Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                2440,
                500
            ],
            "credentials": {
                "smtp": {
                    "id": "YOUR_EMAIL_CREDENTIAL_ID",
                    "name": "Email Account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"job_id\": \"{{ $('Webhook').item.json.body.job_id }}\",\n  \"total_comments\": {{ $('Generate CSV').item.json.total_comments }}\n}"
            },
            "id": "respond",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2660,
                500
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE export_jobs\nSET \n  status = 'failed',\n  error_message = '{{ $json.message }}'\nWHERE id = '{{ $('Webhook').item.json.body.job_id }}'"
            },
            "id": "update-failed",
            "name": "Update Job Failed",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                1340,
                700
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_POSTGRES_CREDENTIAL_ID",
                    "name": "Supabase Postgres"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Split Asset IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Asset IDs": {
            "main": [
                [
                    {
                        "node": "Get Comments from Facebook",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Aggregate All Comments",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Comments from Facebook": {
            "main": [
                [
                    {
                        "node": "Filter Empty Comments",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Empty Comments": {
            "main": [
                [
                    {
                        "node": "Analyze with OpenAI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze with OpenAI": {
            "main": [
                [
                    {
                        "node": "Parse AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Response": {
            "main": [
                [
                    {
                        "node": "Split Asset IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate All Comments": {
            "main": [
                [
                    {
                        "node": "Generate CSV",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate CSV": {
            "main": [
                [
                    {
                        "node": "Upload CSV to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload CSV to Supabase": {
            "main": [
                [
                    {
                        "node": "Update Export Job",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Export Job": {
            "main": [
                [
                    {
                        "node": "Send Success Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Success Email": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1",
        "errorWorkflow": "error-handler"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0
}